<!DOCTYPE html>
<html>
  <head>
    <title>Attach Image Form</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/back.css" />

  </head>
  <body>
    <a href="/" class="home-button">Go Home</a>
    <div class="container">
      <h1>Attach Image Form</h1>
      <ul>
        <% imagelist.forEach(image => { %>
        <li>
          <form action="/back/deleteimage/<%=image._id %>" method="post">
            <p><%=image.title %></p>
            <img class="in_img" src="data:<%=image.image.contentType
            %>;base64,<%=image.image.data.toString("base64")%>" />
            <button type="submit" class="remove-btn">Remove</button>
          </form>
        </li>
        <% }) %>
      </ul>

      <form action="/back/addimage" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required />
        <button type="submit">Upload</button>
      </form>

      <section>
        <h1>Box 1</h1>
        <ul>
          <% boxes.box1.list.forEach(list => { %>
          <li>
            <form action="/back/deleteBoxitem1/<%=list._id %>" method="post">
              <%=list.name.charAt(0).toUpperCase() +
              list.name.slice(1).toLowerCase() %> - $<%=list.price%>
              <button type="submit" class="remove-btn">Remove</button>
            </form>
          </li>

          <% }) %>
        </ul>
        <form action="/back/changelistname/box1" method="POST">
          <input type="text" placeholder="<%=boxes.box1.listname %>" name="ListName" required />
          <button type="submit">Change</button>
        </form>
        <form action="/back/addnewitemprice/box1" method="POST">
          <input type="text" placeholder="NewItem" name="NewItem" required />
          <input type="number" placeholder="Price" name="price" required />
          <button type="submit">Add</button>
        </form>
      </section>

      <section>
        <h1>Box 2</h1>
        <ul>
          <% boxes.box2.list.forEach(list => { %>
          <li>
            <form action="/back/deleteBoxitem2/<%=list._id %>" method="post">
              <%=list.name.charAt(0).toUpperCase() +
              list.name.slice(1).toLowerCase() %> - $<%=list.price%>
              <button type="submit" class="remove-btn">Remove</button>
            </form>
          </li>
          <% }) %>
        </ul>
        <form action="/back/changelistname/box2" method="POST">
          <input type="text" placeholder="<%=boxes.box2.listname %>" name="ListName" required />
          <button type="submit">Change</button>
        </form>
        <form action="/back/addnewitemprice/box2" method="POST">
          <input type="text" placeholder="NewItem" name="NewItem" required/>
          <input type="number" placeholder="Price" name="price" required />
          <button type="submit">Add</button>
        </form>
      </section>

      <section>
        <h1>Box 3</h1>
        <ul>
          <% boxes.box3.list.forEach(list => { %>
          <li>
            <form action="/back/deleteBoxitem3/<%=list._id %>" method="post">
            <%=list.name.charAt(0).toUpperCase() +
            list.name.slice(1).toLowerCase(); %> - $<%=list.price%>
            <button type="submit" class="remove-btn">Remove</button>
          </li>
        </form>
          <% }) %>
        </ul>
        <form action="/back/changelistname/box3" method="POST">
          <input type="text" placeholder="<%=boxes.box3.listname %>" name="ListName" required />
          <button type="submit">Change</button>
        </form>
        <form action="/back/addnewitemprice/box3" method="POST">
          <input type="text" placeholder="NewItem" name="NewItem" required />
          <input type="number" placeholder="Price" name="price" required/>
          <button type="submit">Add</button>
        </form>
      </section>
    </div>
  </body>
</html>
