<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<!-- <script type="text/javascript">

</script> -->

    <title>Tanesha's Painted Perfections</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h2>
            <a href="/client/login">Tanesha's Painted Perfections</a>
          </h2>
        </div>
      </div>
    </header>
    <section class="hero">
      <div class="container">
        <div class="mid">
          <div class="desc">
            <h2>Tanesha's touch, your perfect finish.</h2>
            <p>
              Indulge in a luxurious pampering experience at Tanesha's Nail Spa.
              Our expert nail technician, Tanesha, offers a range of services
              that will leave your nails looking and feeling fabulous. From
              trendy nail designs to classic manicures, Tanesha's touch will
              elevate your look and boost your confidence. Let us transform your
              nails into a work of art and experience the magic of Tanesha's
              touch.
            </p>
            <div class="cta">
              <a href="#contact">Book Now</a>
            </div>
          </div>
          <div class="placeholder">
            <% imagelist.forEach(image => { %> <img class="mySlides"
            src="data:<%=image.image.contentType
            %>;base64,<%=image.image.data.toString("base64")%>" /> <% }) %>
          </div>
        </div>
        <!-- <div class="connect">
          <a href=""><i class="bx bxl-twitter"></i></a>
          <a href=""><i class="bx bxl-instagram-alt"></i></a>
        </div> -->
      </div>
    </section>
    <section id="about">
      
      <h2>About me</h2>
      <img id="about-pic"/>
      
      <p class="About_par">
         A passionate artist dedicated to capturing perfection on canvas. With a
        love for vibrant colors and meticulous detail, Tinasha's paintings evoke
        emotion and inspire meaningful conversations. Her art reflects the
        beauty of nature and the human experience, inviting viewers to
        appreciate the power of creativity. Witness the brilliance of Tinasha's
        work as she leaves an indelible mark on the art world.
      </p>
      
    </section>

    <section id="pricing">
      <h2>Pricing</h2>
      <div id="price_main">
        <div class="price_sub">
          <h2>
            <%=boxes.box1.listname.charAt(0).toUpperCase() +
            boxes.box1.listname.slice(1).toLowerCase();%>
          </h2>
          <div>
            <ul>
              <% boxes.box1.list.forEach(list => { %>
              <li>
                <%=list.name.charAt(0).toUpperCase() +
                list.name.slice(1).toLowerCase() %> - $<%=list.price%>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="price_sub">
          <h2>
            <%=boxes.box2.listname.charAt(0).toUpperCase() +
            boxes.box2.listname.slice(1).toLowerCase();%>
          </h2>
          <div>
            <ul>
              <% boxes.box2.list.forEach(list => { %>
              <li>
                <%=list.name.charAt(0).toUpperCase() +
                list.name.slice(1).toLowerCase() %> - $<%=list.price%>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="price_sub">
          <h2>
            <%=boxes.box3.listname.charAt(0).toUpperCase() +
            boxes.box3.listname.slice(1).toLowerCase();%>
          </h2>
          <div>
            <ul>
              <% boxes.box3.list.forEach(list => { %>
              <li>
                <%=list.name.charAt(0).toUpperCase() +
                list.name.slice(1).toLowerCase(); %> - $<%=list.price%>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <h5>Get In Touch</h5>
      <h2>Contact Me</h2>

      <div class="container contact__container">
        <div class="contact__options">
          <article class="contact__option">
            <a href=""><i class="bx bxs-envelope"></i></a>
            <h4>Email</h4>
            <h5>taneshabautista@yahoo.com</h5>
            <a href="mailto:okujames7@gmail.com" target="_blank"
              >Send a message</a
            >
          </article>
          <article class="contact__option">
            <a href=""><i class="bx bxl-messenger"></i></a>
            <h4>Messenger</h4>
            <h5>Tanesha Bautista</h5>
            <a href="https://m.me/tanesha.bautista" target="_blank">Send a message</a>
          </article>
          <article class="contact__option">
            <a href=""><i class='bx bxl-whatsapp' ></i></i></a>
            <h4>Whatsapp</h4>
            <h5>208-821-1497</h5>
            <a href="https://api.whatsapp.com/send?phone=2088211497" target="_blank">Send a message</a>
          </article>
        </div>
        <form id="contact" class="emailform" onsubmit="sendEmail(event)">
          <input type="text" name="name" placeholder="Full Name" required />
          <input type="email" name="email" placeholder="Your Email" required />
          <textarea
            name="message"
            id="7"
            rows="7"
            placeholder="Message"
            required
          ></textarea>
          <button type="submit" class="btn-primary">Send Message</button>
        </form>
      </div>
    </section>
    <footer>
      <a class="footer__logo">Tanesha's Painted Perfections</a>
      <ul class="permalinks">
        <a href=""><i class="bx bxl-twitter"></i></a>
        <a href=""><i class="bx bxl-instagram-alt"></i></a>
        <a href=""><i class="bx bxl-messenger"></i></a>
        <a href=""><i class="bx bxl-gmail"></i></a>
      </ul>

      <div class="footer_copyright">
        <p>&copy;Tanesha's Painted Perfections. All rights reserved.</p>
      </div>
    </footer>
    <script>
      
     

      
      
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
      emailjs.init("y2BEHO8adyHmmPBsz");

      function sendEmail(event) {
        console.log("formData1")

        event.preventDefault(); // Prevent form submission
        console.log("formData2")
        // Get the form data
        var form = document.querySelector("form#contact");
        
        var formData = {
          name: document.querySelector('input[name="name"]').value,
          email: document.querySelector('input[name="email"]').value,
          message: document.querySelector('textarea[name="message"]').value
        };
        console.log(formData)
        // Send the email
        emailjs.send('service_jras7og', 'template_kz6p04p', formData)
          .then(function (response) {
            console.log('SUCCESS!', response.status, response.text);
            alert('Email sent successfully!');
            form.reset(); // Reset the form fields after successful submission
          }, function (error) {
            console.log('FAILED...', error);
            alert('Failed to send email. Please try again later.');
          });
      }
    </script>
  </body>
</html>
